<div>
  <input type="text" [(ngModel)]="imageUrl" />
  <div>
    <p>width</p>
    <input type="number" [(ngModel)]="width" />
  </div>
  <div>
    <p>height</p>
    <input type="number" [(ngModel)]="height" />
  </div>
  <br />
  <textarea disabled="true">{{ epaperImage.ePaperBytesAsString }}</textarea>
</div>
<button (click)="getNewImage()">Submit</button>
<img [src]="'data:image/png;base64,' + epaperImage.base64String" />

<h1>Number of bytes: {{ epaperImage.numberOfBytes }}</h1>
<table>
  <tr>
    <td>Number Of Bytes</td>
    <td>{{ epaperImage.numberOfBytes }}</td>
  </tr>
  <tr>
    <td>Width</td>
    <td>{{ epaperImage.width }}</td>
  </tr>
  <tr>
    <td>Height</td>
    <td>{{ epaperImage.height }}</td>
  </tr>
</table>
